ol, ul {
	list-style: none; 
	margin: 0 !important;
}

.daybar p {
	margin-left: -2px;
}

#detailsModalBody {
	color: black;
	font-size: 15px;
}

#all {
	z-index: 1000;
	width: 100%;
	height: 500px;
}

body {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@media all and (min-width: 500px) {
	/** Damn. Look at that responsiveness. **/
	p.g1: after{ content: "day" !important; }
	p.g2: after{ content: "nesday" !important; }
	p.g3: after{ content: "urday" !important; }
}

#daysweek {
	margin-top: 70px;
}

.btn.btn-small.btn-primary {
	margin: 6px;
	margin-top: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

#mtext {
	display: inline;
}

#ytext {
	display: inline;
}

#daysmonth {
	transition: all 0.2s ease-in-out;
}

.zoom {
	transform-origin: 905.5px 285.5px; 
	transform: translate(147.760236px, 554.713833px) rotate(-0.349043rad) skewX(0rad) scale(2.40131, 2.40131);
}

#yearendar {
	display: none;
	position: relative;
}

.yearendar-years {
	margin-top: 20px;
}

#calendar {
	position: relative;
}

.open li {
	position: absolute;
}

.calendarheader {
	font-size: 31.5px;
	margin-top: 15px;
}

.signuporin {
	width: 150px;
	float: right;
}

.signuporin input {
	width: 135px;
}

.signuporin input:first-child {
	margin-bottom: 10px;
}

.herobody {
	width: 590px;
	float: left;
	color: white;
	text-align: left;
}

.herobody h1 {
	margin-top: -2px;
}

.herobody p {
	font-size: 15px;
}

.logout {
	cursor: pointer;
}

.logout:hover {
	color: #0068B6;
}

/**************************** CSS Reset  ****************************/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body{line-height: 1px;}
ol,ul{list-style: none;}
blockquote,q
blockquote: before,blockquote: after,q: before,q: after{content: '';content: none;}
a{color: #487697;text-decoration: none;}
: focus{outline: 0;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}*/

/**************************** General ****************************/
a:hover {
	text-decoration: underline;
}

p {
	color: white;
	font-size: 11px;
}

.calcat p { 
	line-height: 13px;
}

/**************************** Calendar ****************************/
#mtext {
	color: white;
}

#calendar {
	margin: 0 auto;
	padding-top: 3%;
	width: 100%;
	max-width: 760px;
	text-align: center;
  	position: relative;
}

#yearendar {
	margin: 0 auto;
	padding-top: 3%;
	width: 100%;
	max-width: 760px;
	text-align: center;
  	position: relative;
}

#calheader {
	width: 100%;
	height: 30px;
	text-align: center;
}

#yearheader {
	width: 100%;
	height: 30px;
	text-align: center;
}

#calheader h3 {
	margin-top: 15px;
}

#calcontainer{
	float: left;
	margin-bottom: 2%;
	width: 100%;
}

#daysmonth{
	clear: both;
}

.dayweek{
	width: 14.00%;height: 30px;float: left;border-right: 1px solid rgb(100,100,100);
}

.dayweek p{
	display: block;text-align: center;font-size: 10px;line-height: 31px;
}

.weeku{
	overflow: auto;border-top: 1px solid #c2c2c2;border-bottom: 1px solid rgb(100,100,100);
}

.today{
	background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.35) 10px, rgba(255, 255, 255, 0.35) 20px);border-right: 1px solid rgb(100,100,100);
}

.today .daybar{
	background: rgb(163, 167, 255);
}

.nottoday {
	background: black;
}

.day{
	width: 14.00%;float: left;border-right: 1px solid #e5e5e5;border-top: 1px solid #c2c2c2;
}

.brn {
	border-right: none;
}

.bun {
	border-bottom: none;
}

.daybar {
	width: 100%;
	float: left;
	background: rgb(100,100,100) !important;
}

.daybar p {
	margin-left: -1px;
	margin-top: 2px;
	margin-bottom: 4px;
	font-size: 11px;
	font-weight: 400;
	color: white;
	line-height: 20px;
}

.dots {
	width: 100%;
	height: 35px;
	clear: both;
}

.dots ul {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.dots ul li {
	margin-top: 10px;
	display: inline-block;
	border-radius: 14px;
	width: 12px;
	height: 12px;
}

/**************************** Colors ****************************/
.none {
	background: #d6d6d6;
}

.none:hover {
	background: #dfdfdf;
}

.blue {
	background: #5496dd;
}

.blue:hover {
	background: #5c9ef9;
}

.red {
	background: #ff454b;
}

.red:hover {
	background: #ff6164;
}

.yellow {
	background: #ffac4d;
}

.yellow:hover {
	background: #ffbd6a;
}

.green {
	background: #94e354;
}

.green:hover {
	background: #98e857;
}

/**************************** Legend ****************************/
#calcat {
	float: right;
	margin-right: 5px;
}

#calcat p{
	margin-top: 4px;
	float: left;
}

.caldot {
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 4px;
	margin-right: 8px;
}

footer {
	text-align: left
}

.dots ul {
	padding: 0;
}

.dayweek p {
	margin: 0;
}

.modal-header {
	margin-top: -20px;
}

.calendarheader button.btn-small {
	font-size: 40px;
	border-radius: 10px;
}
